{block content}

<h1 style="">Hlavní stránka</h1>

{foreach $article as $row}
    <h2 style="margin-bottom: 0;margin-top: 20px; padding-top:20px;border-top: 1px solid #e3e3e3;"><a href="{plink Article: $row->id}-{$row->title|webalize}">{$row->title}</a></h2>
    <p style="margin-top: 4px;">
      {!$row->perex}
    </p>  
    <span style="font-size: 12px;">{$row->datum|date:'j.n.Y'} | <a href="{link Profil:}" style="text-transform: capitalize">{$row->autor}</a></span>
{/foreach}


{/block}
