{block content}

<h1 style="">Hlavní stránka</h1>

{foreach $flashes as $flash}
    <p class="flash_{$flash->type}">{$flash->message}</p>
{/foreach}

{foreach $articles as $row}
    <h2 style="margin-bottom: 0;margin-top: 20px; padding-top:20px;border-top: 1px solid #e3e3e3;"><a href="{plink Article: $row->id}-{$row->title|webalize}">{$row->title}</a></h2>
    <p style="margin-top: 4px;">
      {$row->perex|noescape}
    </p>  
    <span style="font-size: 12px;">{$row->added|date:'j.n.Y'} | <a href="{plink Profil: $row->id_author}-{$row->ref('id_author')->name|webalize}" style="text-transform: capitalize">{$row->ref('id_author')->name}</a></span>
{/foreach}

{if $paginator->getLastPage() > 1}
<section>
<a n:href="this, page => $paginator->getPage() - 1" n:if="!$paginator->isFirst()">předchozí</a>
{for $scatter = 3,
     $i = ($paginator->getPage() - (($paginator->getPage() <= $scatter) ? 
                                                $paginator->getPage()-1 : $scatter)),
     $x = $paginator->getPage() + ((($paginator->getPage() + $scatter) < $paginator->getLastPage()) ? 
                                                $scatter : ($paginator->getLastPage()-$paginator->getPage())); 
        $i <= $x; 
     $i++}            
     <span n:tag-if="$i == $paginator->getPage()" class="bold"> <a n:href="this, page => $i" n:tag-if="$i !== $paginator->getPage()">{$i}</a> </span>
{/for}
<a n:href="this, page => $paginator->getPage() + 1" n:if="!$paginator->isLast()">další</a>
</section>
{/if}
    
<style>
    .bold{ font-weight: bold; }
    section{ text-align: right; }
</style>
{/block}
